# Controllo versione
.git

# IDE
.vscode
.idea

# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
dist/
build/
.venv
venv/

# Node.js
node_modules/

# Log e sistema
*.log
.DS_Store

# Env e config
*.env
.env.local
.env.*.local

# Ignora file dockerignore stesso (opzionale)
.dockerignore